html {
	font-size: 62.5%;
}

body {
	font-family: $body-font;
	font-size: 1.6rem;
	font-weight: 300;
	background: $navy;
	line-height: 2.6rem;
	color: $text-grey-light
}

.wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding: 40px 0;

	@include breakpoint(small) {
		padding: 30px;
	}

	@include breakpoint(palm) {
		padding: 15px;
	}
}

h1,
h2,
h3,
h4,{
	padding: 0;
	margin: 0;
	text-align: center;
	font-weight: 400;
	color: $accent-color;
}

ul {
	list-style: none;
	padding: 0;
	color: $accent-color;
}

a {
	text-decoration: none;
	font-weight: 400;
	color: $text-grey-light;
	font-weight: 100;
}

h1 {
	font-family: summerFont;
	font-size: 10rem;
	margin-bottom: 25px;
	position: relative;
	z-index: 1;

	@include breakpoint(palm) {
		font-size: 6rem;
	}
}

h2 {
	font-family: summerFont;
	font-size: 11rem;

	@include breakpoint(palm) {
		font-size: 5rem;
	}

	&.about--heading {
		position: absolute;
		z-index: 2;
		left: 50%;
		top: -7px;
		transform: translateX(-50%);
		width: 100%;

		@include breakpoint(palm) {
			position: static;
			transform: none;
			padding: 20px 0 30px 0;
		}
	}
}

h4 {
	font-family: $body-font;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 4rem;
	text-align: center;
	width: 100%;
}

h5 {
	font-size: 6rem;
	font-family: Georgia, "Times New Roman", serif;
	margin-bottom: 33px;
	font-weight: 100;
	color: $accent-color;
	width: 100%;
	text-align: center;
	letter-spacing: 1.2rem;
}

img {
	width: 100%;
	height: 100%;
}

section {
	padding-bottom: 100px;
}

.upperCase_heading {
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 1.6rem;
	color: $accent-color;
	li a {
		color: $accent-color;
	}
}
