.countdown {
  width: 100%;
  min-height: 400px;
  background-image:
    linear-gradient(
      rgba(53, 62, 68, 0.45), 
      rgba(53, 62, 68, 0.45)
    ),
    url(../assets/sylvia-patrick-count.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  h4 {
    padding-top: 75px;
  }
  ul {
    display: flex;
    max-width: 700px;
    justify-content: space-between;
    margin: 0 auto;
    li {
      h3:last-child {
        @extend .upperCase_heading;
        font-weight: 300;
      }
    }
  }

  h3 {
    margin-top: 50px;
  }

}
