.details {
	width: 100%;
	padding-bottom: 35px;
	background-image:
	linear-gradient(
	  rgba(53, 62, 68, 0.75), 
	  rgba(53, 62, 68, 0.75)
	),
	url(../assets/map.jpg);
	background-size: cover;
	background-position: center;
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 0;
	}
	h4 {
		margin: 65px 0;
	}
	.details__wrap {
		width: 45%;
		margin-bottom: 40px;
		.details__block {
			margin-bottom: 40px;
		}
		h3 {
			text-align: left;
		}
		a {
			border-bottom: 1px solid $text-grey-light;
		}
	}
}