.gallery {
	padding-top: 100px;
	background: url(../assets/bg_gallery.png) no-repeat;
	background-position: center;
	background-size: cover;

	@include breakpoint(small) {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	@include breakpoint(palm) {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	h2 {
		padding: 50px 0;

		@include breakpoint(small) {
			padding-top: 30px;
			padding-bottom: 80px;
		}

		@include breakpoint(palm) {
			padding-top: 10px;
			padding-bottom: 40px;
		}
	}

	.gallery-items {
		display: flex;
		flex-flow: column wrap;
		max-height: 870px;
		margin-left: -21px;

		@include breakpoint(small) {
			max-height: 100vw;
		}

		@include breakpoint(palm) {
			max-height: none;
			margin-left: 0;
		}

		img {
			width: calc(33.33333% - 21px);
			margin-left: 21px;
			margin-bottom: 21px;

			@include breakpoint(palm) {
				width: 100%;
				margin-left: 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

}
