header {
	background: url(../assets/bg_header.png);
	background-color: $navy;
	background-size: 100%;
	height: 100vh;
	background-repeat: no-repeat;

	@include breakpoint(palm) {
		height: auto;
	}
}

.logo {
	width: 150px;
	margin: 0 auto;
	padding: 20px 0;

	@include breakpoint(small) {
		width: 100px;
		padding-bottom: 15px;
	}

	@include breakpoint(palm) {
		padding-top: 10px;
		padding-bottom: 5px;
	}
}

.intro {
	border-top: 2px solid $accent-color
}

nav {
	margin-bottom: 3rem;

	@include breakpoint(small) {
		margin-bottom: 30px;
	}

	@include breakpoint(palm) {
		margin-bottom: 15px;
	}

	ul {
		display: flex;
		justify-content: space-between;
		max-width: 350px;
		margin: 0 auto;
	}
}


.hero {
	background: url(../assets/sylvia-patrick-header.jpg);
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 100px;
	color: $accent-color;

	&:after {
		content: '';
		background: rgba(119, 126, 131, 0.29);
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	h3 {
		position: relative;
		z-index: 9;
		font-size: 2rem;
	}
}
