.rsvp {
  min-height: 500px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  input {
    width: 47%;
    margin-bottom: 30px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid $text-grey-light;
  }
}