$navy: #3D4859;
$accent-color: #DEB886;
$dark-navy: #353E44;
$text-grey-light: #c8c8c8;
$body-font: 'Montserrat', sans-serif;

@font-face {
  font-family: summerFont;
	src: url(../font/SummerFestival-Alt.ttf);
}
