@font-face {
  font-family: summerFont;
  src: url(../font/SummerFestival-Alt.ttf); }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  background: #3D4859;
  line-height: 2.6rem;
  color: #c8c8c8; }

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0; }

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 400;
  color: #DEB886; }

ul {
  list-style: none;
  padding: 0;
  color: #DEB886; }

a {
  text-decoration: none;
  font-weight: 400;
  color: #c8c8c8;
  font-weight: 100; }

h1 {
  font-family: summerFont;
  font-size: 10rem;
  margin-bottom: 25px;
  position: relative;
  z-index: 1; }

h2 {
  font-family: summerFont;
  font-size: 11rem; }
  h2.about--heading {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -7px;
    transform: translateX(-50%);
    width: 100%; }

h4 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 4rem;
  text-align: center;
  width: 100%; }

h5 {
  font-size: 6rem;
  font-family: Georgia, "Times New Roman", serif;
  margin-bottom: 33px;
  font-weight: 100;
  color: #DEB886;
  width: 100%;
  text-align: center;
  letter-spacing: 1.2rem; }

img {
  width: 100%;
  height: 100%; }

section {
  padding-bottom: 100px; }

.upperCase_heading, .about__text h4, .countdown ul li h3:last-child, form h4, form input[type="submit"] {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.6rem;
  color: #DEB886; }
  .upperCase_heading li a, .about__text h4 li a, .countdown ul li h3:last-child li a, form h4 li a, form input[type="submit"] li a {
    color: #DEB886; }

header {
  background: url(../assets/bg_header.png);
  background-color: #3D4859;
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat; }

.logo {
  width: 150px;
  margin: 0 auto;
  padding: 20px 0; }

.intro {
  border-top: 2px solid #DEB886; }

nav {
  margin-bottom: 3rem; }
  nav ul {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    margin: 0 auto; }

.hero {
  background: url(../assets/sylvia-patrick-header.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -43px;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  color: #DEB886; }
  .hero:after {
    content: '';
    background: rgba(119, 126, 131, 0.29);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
  .hero h3 {
    position: relative;
    z-index: 9;
    font-size: 2rem; }

.about {
  margin-top: 200px;
  background-image: url(../assets/bg_about.png);
  background-repeat: no-repeat;
  background-position-y: -8px;
  background-size: 80%; }

.about__wrapper {
  display: flex;
  background: #28333a;
  padding-bottom: 0;
  position: relative; }
  .about__wrapper figure {
    width: 45%;
    min-height: 200px;
    position: relative;
    top: -100px;
    left: 50px; }
    .about__wrapper figure:after {
      content: '';
      background: rgba(119, 126, 131, 0.29);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0; }

.about__text {
  width: 50%;
  padding: 50px 0 0px 90px; }
  .about__text h4 {
    text-align: left; }

.countdown {
  width: 100%;
  min-height: 400px;
  background-image: linear-gradient(rgba(53, 62, 68, 0.45), rgba(53, 62, 68, 0.45)), url(../assets/sylvia-patrick-count.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .countdown h4 {
    padding-top: 75px; }
  .countdown ul {
    display: flex;
    max-width: 700px;
    justify-content: space-between;
    margin: 0 auto; }
    .countdown ul li h3:last-child {
      font-weight: 300; }
  .countdown h3 {
    margin-top: 50px; }

.rsvp {
  min-height: 700px;
  background-image: url(../assets/bg_form_section.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 140px; }

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  background: #28333a;
  padding: 40px; }
  form input[type="text"],
  form textarea,
  form select {
    width: 47%;
    margin-bottom: 50px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid #c8c8c8;
    color: #c8c8c8;
    padding: 10px; }
    form input[type="text"]:nth-child(5n + 5),
    form textarea:nth-child(5n + 5),
    form select:nth-child(5n + 5) {
      width: 100%; }
  form textarea,
  form input[type="submit"] {
    width: 100%; }
  form h4 {
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px; }
  form h5 {
    margin-top: 42px;
    font-size: 4rem; }
  form input[type="submit"] {
    width: 200px;
    padding: 15px;
    background: none;
    margin: 0 auto;
    color: #DEB886;
    border: 1px solid #DEB886;
    text-align: center;
    font-weight: 300; }

.details {
  width: 100%;
  padding-bottom: 35px;
  background-image: linear-gradient(rgba(53, 62, 68, 0.75), rgba(53, 62, 68, 0.75)), url(../assets/map.jpg);
  background-size: cover;
  background-position: center; }
  .details .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0; }
  .details h4 {
    margin: 65px 0 90px 0; }
  .details .details__wrap {
    width: 45%;
    margin-bottom: 40px; }
    .details .details__wrap .details__block {
      margin-bottom: 40px; }
      .details .details__wrap .details__block li {
        font-size: 1.7rem;
        letter-spacing: 0.2rem;
        color: #c8c8c8; }
    .details .details__wrap h3 {
      text-align: left;
      font-weight: 300;
      font-size: 1.8rem; }
    .details .details__wrap a {
      border-bottom: 1px solid #c8c8c8; }

.gallery {
  padding-top: 100px;
  background: url(../assets/bg_gallery.png) no-repeat;
  background-position: center;
  background-size: cover; }
  .gallery .wrapper {
    display: flex;
    flex-flow: column wrap;
    max-height: 870px; }
    .gallery .wrapper img {
      width: 31%;
      margin-bottom: 21px; }
  .gallery h2 {
    padding: 50px 0; }

@media only screen and (max-width: 665px) {
  .gallery .wrapper {
    max-height: 1450px; }
    .gallery .wrapper img {
      width: 45%; } }

@media only screen and (max-width: 550px) {
  .gallery .wrapper {
    max-height: 1350px; } }

@media only screen and (max-width: 505px) {
  .gallery .wrapper {
    max-height: 1330px; } }

@media only screen and (max-width: 500px) {
  .gallery .wrapper {
    max-height: none; }
    .gallery .wrapper img {
      width: 100%; } }

footer {
  background: #28333a; }

.rights.upperCase_heading p, .about__text h4.rights p, .countdown ul li h3.rights:last-child p, form h4.rights p, form input.rights[type="submit"] p {
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  color: #a2a2a2;
  line-height: 22px;
  border-top: 1px solid #DEB886;
  padding-top: 30px; }
